<footer>
    <label>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae recusandae corrupti itaque, fugit minima odit consequatur nihil placeat? Animi, aut unde. Recusandae perspiciatis vero cum dolore in! Alias, reprehenderit aperiam.</label>
</footer>